<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NTPServer" value="pool.ntp.org" />
		<add key="NTPPort" value="123" /> <!--default 123-->

		<add key="hostMail" value="" />
		<add key="passMail" value="" />
		<add key="destMail" value="" />
		
	</appSettings>
</configuration>
